
.CGestor {
  margin-left: 50vh;
}

.wrapper,
.formulario {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 45vh);
}

.btnGE{
  margin-top: 2vh;
  display:flex;
  width: 87vh;
  gap: 8vh;
}

input {
  width: 40vh;
  position: relative;
  height: 45px;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid #630404;
  color: #630404;
  background-color: white;
  margin-top: 2vh;
}

.selectDoble{
  font-size: 1rem;
  width: 40vh;
  border: 2px solid #630404;
}

#password,
#rfc,
#dependencia,
#curp,
#nombre,
#apellidoPaterno,
#apellidoMaterno,
#telefono,
#municipio,
#localidad,
#codigoPostal,
#colonia,
#calle,
#email,
#userName,
#fechaNacimiento,
#caracteristica,
#folio,
#nombre_ciudadano,
#descripcion,
#fecha,
#procedencia,
#periodo,
#prioridad,
#tipo,
#dependencia,
#registra,
#registra,
#vencimiento,
#periodico,
#folio_interno,
#cant_benef,
#evento,
#estado,
#presupuesto,
#notas {
  border: 2px solid #630404;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  color: #630404;
  font-weight: bold;
  font-size: 20px;
  display: inline-flex;
}

.btnG {
  margin-left: 96vh;
  margin-top: 1vh;
}

input.input-errors,
select.input-errors {
  border: 2px solid blue;
  color: #630404;
}

button:disabled {
  opacity: 0.2;
}
