table {
  width: 137vh;
  font-size: 1rem;
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(112, 108, 108);
  color: rgb(92, 88, 88);
  background-color: rgba(128, 128, 128, 0.315);
}

table th {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-color: rgb(112, 108, 108);
}

table td {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-color: rgb(112, 108, 108);
}


.btntbl {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  background: none;
  border: 0ch;
  margin-left: 5px;
  color: rgb(92, 88, 88);
}

.btntbl:hover {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
  background: none;
  border: 0ch;
  margin-left: 5px;
  color: rgb(92, 88, 88);
  cursor: pointer;
}


.intbl {
  height: 45px;
  width: 137vh;
  margin-left: 42.5vh;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 20px;
  color: rgb(92, 88, 88);
  background-color: rgba(128, 128, 128, 0.315);
  border: none;
}

.btnbuscar {
  margin-left: 144vh;
}

.pendientes h3 {
  background-color: #63040470;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3vh;
  width: 137vh;
}

.urgentes,
.vencidas,
.pendiente {
  margin-left: 45vh;
  margin-top: 3vh;
}