@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.buscar,
.graficas,
.reportes,
.pendientes,
.gestores,
.seguimientos {
    margin-left: 300px;
    width: 1000px;
}

.btn {
  height: 45px;
  width: 40vh;
  font-size: 1.2rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #630404;
  border: none;
  margin-top: 3vh;  
}

.btn:hover {
  height: 45px;
  width: 40vh;
  font-size: 1.2rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background-color: #350707;
  border: none;
  margin-top: 3vh;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #35070748;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #350707;
}