.table-container {
  margin-top: 5vh;
  display: flex; 
  max-height: 24rem;
  overflow: auto;
}

.tblReportes {
  width: 100%;
  font-size: 1rem;
  border: 1px solid;
  border-collapse: collapse;
  border-color: rgb(112, 108, 108);
  color: rgb(92, 88, 88);
  background-color: rgba(128, 128, 128, 0.315);
}

.tblReportes th {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-color: rgb(112, 108, 108);
}

.tblReportes td {
  padding: 10px 15px 10px 15px;
  border: 1px solid;
  border-color: rgb(112, 108, 108);
}

.filtrosReportes {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.filtrosReportes2 {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.inpReportes {
  height: 45px;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 20px;
  color: rgb(92, 88, 88);
  background-color: rgba(128, 128, 128, 0.315);
  border: none;
}

.inpReportesF {
  height: 45px;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  border-radius: 20px;
  color: rgb(92, 88, 88);
  background-color: rgba(128, 128, 128, 0.315);
  border: none;
  margin-left: -1rem;
  margin-right: 2rem;
}

.btnReportes {
  display: flex;
  gap: 1rem;
  justify-content: right;
  margin-top: -6%;
}

.btnGE .btn{
  width: 100%;
}

.inpColumnF{
  width: 70%;
  font-size: 15px;
  color: rgb(92, 88, 88);
  border-bottom: 2px solid rgb(92, 88, 88);
}

.inpMostrar{
  font-size: 18px;
  color: rgb(92, 88, 88);
  border-bottom: 2px solid rgb(92, 88, 88);
  text-align: center;
}

.btnPagR {
  font-size: 2.5rem;
  background: none;
  border: 0ch;
  color: rgb(92, 88, 88);
}

.spanPagR {
  font-size: 1.1rem;
  border: 0ch;
  color: rgb(92, 88, 88);
  margin-top: 0.7rem;
  margin-right: 1rem;
}

.pagR{
  display: flex;
  margin-top: 1%;
}